
$white: #ffffff;
$baltic: #1c1b21;
$viking: #5eddcc;
$sanMarino: #426aed;
$pink: #eeafaa;
$cyan: #00ddff;

$stone: #1b304b;
$haze: #f6f7f7;
$viking: #5eddcc;
$blue: #4876b5;
$gray: #949494;

$viking: #5eddcc;
$linch: #657b92;
$nile: #1a3154;
$shark: #19191f;
$baked: #86c5ca;